@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-teal);
$stoom-en-damp-theme: mat-light-theme($primary, $accent);

@include angular-material-theme($stoom-en-damp-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin stoom-en-damp-theme($theme) {
  $primary: map-get
}
